@import '../resources';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: $spacer 0;
  background-color: $black;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
  }

  &__img {
    width: 100px;
    height: auto;
    margin-left: $spacer;
  }
}
