.header {
  position: sticky;
  z-index: 9999;
  top: 0;
  padding: 2rem;
  background-color: $black;
  color: $white;

  &__container {
    @include space-content;

    max-width: 1200px;
    margin: 0 auto;
  }

  &__user-data {
    @include space-content;
  }

  &__image {
    width: 60px;
    height: 60px;
    margin-left: 1rem;
    border-radius: 50%;
  }
}
