.main {
  min-height: 100vh;

  @include media('md') {
    @include flex-column;

    height: 100vh;
    min-height: auto;
  }

  &__container {
    max-width: 768px;
    flex-grow: 1;
    padding: $spacer * 3 $spacer * 2;
    margin: 0 auto;

    @include media('lg') {
      overflow: hidden;
      padding: $spacer * 6 $spacer * 2;
    }
  }

  &__content-wrapper {
    width: 100%;
    margin-top: $spacer * 2.5;

    @include media('md') {
      height: 100%;
      margin-top: $spacer * 5;
    }
  }
}
