.main {
  font-family: 'Circular';
  min-height: 100vh;
  background: rgb(105,117,221);
  background: linear-gradient(45deg, rgba(105,117,221,1) 0%, rgba(115,85,176,1) 100%);

  &__container {
    @include center-content;
    flex-direction: column;
    padding: $spacer * 6 $spacer * 2;
    max-width: 768px;
    margin: 0 auto;
  }

  &__content-wrapper {
    width: 100%;
    margin-top: $spacer * 5;
  }
}
