.get-soundtrack {
  @include flex-column;

  @include media('lg') {
    height: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__ctas {
    margin-bottom: $spacer * 2;

    @include media('md') {
      @include space-content;

      flex-direction: row;
    }

    @include media('lg') {
      flex-direction: column;
      flex-shrink: 0;
      justify-content: flex-start;
      margin-left: $spacer * 2;
    }
  }

  &__list {
    flex-grow: 1;
    padding-bottom: $spacer * 5;

    @include media('lg') {
      overflow: scroll;
      padding-bottom: $spacer * 10;

      &::-webkit-scrollbar {
        width: calc($spacer / 2);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0 0 0 / 50%);
        border-radius: calc($spacer / 2);
      }
    }
  }
}
