.your-soundtrack {
  @include center-content;

  height: 100%;
  flex-direction: column;

  &__ctas {
    @include media('md') {
      @include space-content;

      width: 100%;
    }
  }

  &__embed {
    width: 100%;

    @include media('md') {
      flex-grow: 1;
      margin-top: $spacer * 4;
    }

    iframe {
      height: 450px;
      border-radius: $spacer;

      @include media('md') {
        height: calc(100% - $spacer * 5);
      }
    }
  }
}
