.audio-player {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 540px) {
    flex-direction: row;
  }

  &:not(:last-child) {
    margin-bottom: $spacer * 2;
  }

  &__image {
    width: 150px;
    height: auto;
    margin-bottom: $spacer;

    @media screen and (min-width: 540px) {
      margin: 0 $spacer * 2 0 0;
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
  }

  &__meta {
    margin-bottom: $spacer;

    @media screen and (min-width: 540px) {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
}
