.audio-player {
  @include flex-column;

  @include media('md') {
    flex-direction: row;
  }

  &:not(:last-child) {
    margin-bottom: $spacer * 2;
  }

  &__image {
    width: 150px;
    height: auto;
    margin-bottom: $spacer;

    @include media('md') {
      margin: 0 $spacer * 2 0 0;
    }
  }

  &__preview {
    @include flex-column;
  }

  &__meta {
    margin-bottom: $spacer;

    @include media('md') {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
}
