.btn {
  display: block;
  width: 100%;
  margin-bottom: $spacer;
  padding: 1rem 2rem;
  color: $white;
  background-color: $black;
  text-align: center;
  font-size: $font-xs;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;

  @include media('md') {
    max-width: 180px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
