.get-soundtrack {
  @include flex-column;

  @include media('lg') {
    flex-direction: row-reverse;
    height: 100%;
  }

  &__ctas {
    flex-direction: column-reverse;
    margin-bottom: $spacer * 2;

    @include media('md') {
      @include space-content;
      flex-direction: row;
    }

    @include media('lg') {
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: $spacer * 2;
    }
  }

  &__list {
    flex-grow: 1;

    @include media('lg') {
      padding-bottom: $spacer * 5;
      overflow: scroll;
    }
  }
}
