$white: #fff;
$black: #000;
$lilac: #6975dd;
$purple: #7355b0;
$lilac-rgb: rgba(105 117 221 / 100%);
$purple-rgb: rgba(115 85 176 / 100%);
$gradient: linear-gradient(45deg, $lilac-rgb 0%, $purple-rgb 100%);

$font-lg: 4.5rem;
$font-sm: 1.6rem;
$font-xs: 1.4rem;

$spacer: 1rem;

$breakpoints: (
  'sm': (min-width: 380px),
  'md': (min-width: 540px),
  'lg': (min-width: 768px)
);
