<div class="block-height">
  <label>I woke up today feeling...</label>

  <ul 
    class="form-group small-block-grid-3 medium-block-grid-4" 
    ng-init="formData.one='happy'">

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="one" 
          ng-model="formData.one" 
          value="happy">
          Happy
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="one" 
          ng-model="formData.one" 
          value="motivated">
          Motivated
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="one" 
          ng-model="formData.one" 
          value="excited">
          Excited
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="one" 
          ng-model="formData.one" 
          value="relaxed">
          Relaxed
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="one" 
          ng-model="formData.one" 
          value="sad">
          Sad
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="one" 
          ng-model="formData.one" 
          value="angry">
          Angry
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="one" 
          ng-model="formData.one" 
          value="stressed">
          Stressed
      </label>
    </li>    
  </ul>

  <label>The weather was...</label>

  <ul 
    class="form-group small-block-grid-3 medium-block-grid-4" 
    ng-init="formData.onea='sunny'">

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="onea" 
          ng-model="formData.onea" 
          value="sunny">
          Sunny
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="onea" 
          ng-model="formData.onea" 
          value="crisp">
          Crisp
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="onea" 
          ng-model="formData.onea" 
          value="raining">
          Raining
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="onea" 
          ng-model="formData.onea" 
          value="dark">
          Dark
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="onea" 
          ng-model="formData.onea" 
          value="cold">
          Cold
      </label>
    </li>

    <li class="radio">
      <label>
        <input 
          type="radio" 
          name="onea" 
          ng-model="formData.onea" 
          value="windy">
          Windy
      </label>
    </li>
  </ul>
</div>

<div class="form-buttons">

    <a 
      ui-sref="form.two" 
      class="button">Next</a>

    <button 
      ui-sref="form.one" 
      class="reset" 
      ng-click="reset()">Reset</button>

</div>