@import './global/__variables';
@import './global/__mixins';
@import './global/_typography';

@import './atoms/audio-player';
@import './atoms/btn';
@import './atoms/loading-spinner';
@import './atoms/radio-btn';

@import './components/form';
@import './components/header';
@import './components/main';

@import './views/get-soundtrack';
@import './views/quiz';
@import './views/your-soundtrack';

html {
  font-size: 10px;
}

body {
  margin: 0;
  background: $gradient;
  font-family: Circular, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
